
.card{
  padding: 10px;
  margin-top: -100px
}
.card-cont {
  width: 220px;
  height: 200px;
  color: black;
  text-align: center;
  overflow: hidden;
  background-color: lavender;
  border-radius: 10px;
}

.card-cont:before {
  content: "";
  height: 4px;
  display: block;
  background: darkmagenta;
}

.card-followers{
  letter-spacing: 4px;
}

.card-followers-today{
  padding: 0;
}